.main{
    width: 90%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

.container {
    z-index: initial;
    position: absolute;
    width: 100%;
    left: 0;
}

.leftContent {
    float:left;
    width: 45%;
    height: 80%;
    z-index: 1;
    position: absolute;
    padding-top: 7%;
    padding-left: 7.5%;
    padding-right: 0.5%; 
}

.rightContent {
    float:left;
    width: 38.5%;
    height: 80%;
    z-index: 1;
    position: absolute;
    margin-left: 53.5%;
    padding-top: 7%;
    padding-left: 1.5%
}

.form-group {
    margin: 20px auto;
}

.bookImage {
    float: left;
}

.form-horizontal {
    float: right;
}

img.addImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: 150px;
}

.addImg {
    display: block;
    margin: 10px auto;
}

p {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

button {
    background-color: #367EA2;
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    border: none;
}

.rightButton {
    padding: 10px;
    float: left;
    position: absolute;
}


button.favorite {
    background-color: #BE3C3A;
}

.form-control {
    border: 2.4px ridge #E1C296;
    background-color: #E9EADC;
}

.form-control::placeholder {
  color: #367EA2;
  opacity: 0.7;
}

.suggestion {
    float: left;
    margin: 10px 60px;
    border-style: dashed;
    padding: 10px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 3px);
    color: #367EA2;
    opacity: 0.7
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    color: #367EA2;
    opacity: 0.7
}

.showQuotes {
    border-style: dashed;
    padding: 10px;
    margin: 40px 40px;
    float: right;
    width: 50%;
    margin-left: 30%;
}

@media only screen and (max-width: 1500px) {
    body {
        background-color: lightblue;
    }
}