<!--<h1>
  {{title}}
</h1>
<button (click)="onSearch()">Search...</button>
<app-my-first-component>Something...</app-my-first-component>-->


  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">login</a>
    </li>
  </ul>
  <router-outlet></router-outlet>